:root{
    --main-color: #f25f3a;
    --blue: hsl(228, 39%, 23%);
    --dark-blue: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --common-padding: 40px 80px;
}
body{
    background-color: #f0f0f0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--common-padding);
}
header a{
    color: var(--blue);
    text-decoration: none;
    font-weight: 500;
}
.cta-link{
    background-color: var(--main-color);
    color: white;
    border-radius: 40px;
    padding: 10px 20px;
    text-decoration: none;
}
#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--common-padding);
}
.text-side{
    flex: 1;
}
img{
    flex: 1;
}